//.poolCode-right {
//  width: 100%;
//  margin-left: 5px;
//}

#poolCode-right {
  width: 83%;
  margin-left: 5px;
}
.dow-label{
  font-size: 12px;
  width: 25px;
  color: #007bff;
}
.btn-pc-apply {
  background-color: #008712;
  color: #fff;
  font-size: 0.82rem;
  text-transform: capitalize;
}
#userActionPod{
  margin-top: 10px;
}
.btn-pc-reset {
  background-color: #C30019 !important;
  color: #fff;
  font-size: 0.82rem;
  text-transform: capitalize;
}

.btn-pc-undo {
  background-color: #D14904 !important;
  color: #fff;
  font-size: 0.82rem;
  text-transform: capitalize;
}
