.dropdown {
	position: relative;
}

.dropdown select {
	height: 27px !important;
	width: 100%;
}

.dropdown > * {
	box-sizing: border-box;
	height: 1.5em;
}

.dropdown input {
	margin-left: 1px;
	border: none;
	position: absolute;
	height: calc(1.8125rem);
	width: calc(100% - 15px);
	margin-top: 1px;

}

.time-color {
	color: black !important;
}

.normal-color {
	color: #495057 !important;
}

.time-group {
    display: flex;
}
