<div class="row input-group mb-0">
    <div class="col">
        <div class="dropdown">
            <input type="text" placeholder="HH:MM" [(ngModel)]="startTime" (ngModelChange)="onSelectTime('input')">
            <select class="form-control form-control-sm" [(ngModel)]="dropdownStartTime" (ngModelChange)="onSelectTime('select')">
                <option *ngFor='let time of timeInterval' [ngValue]='time._24Hour'>{{ time._24Hour }}</option>
            </select>
        </div>
    </div>
        <span class="input-group-addon text-center">to</span>
    <div class="col">
      <div class="dropdown">
        <input type="text" placeholder="HH:MM" [(ngModel)]="startTime" (ngModelChange)="onSelectTime('input')">
        <select class="form-control form-control-sm" [(ngModel)]="dropdownStartTime" (ngModelChange)="onSelectTime('select')">
          <option *ngFor='let time of timeInterval' [ngValue]='time._24Hour'>{{ time._24Hour }}</option>
        </select>
      </div>
    </div>
</div>
