.cabin-flows {
  margin-top: 6px !important;
  margin-right: 10px !important;
}

.flows-layout {
  //padding-left: 1.25rem;
  //padding-right: 10px;
}

.flow-container {
  margin-left: 10px !important;
  padding: 0;
}

.cabin {
  width: 50px
}
