<div class="wrapper">
  <header>
    <nav class="navbar navbar-light-gray container-fluid container-padding">
			<span class="logo">
				<!-- <img src="assets/images/american-airline-logo.svg" alt="American Airline Logo" width="272" height="30"> -->
			</span>
      <div class="user-profile">
        <div class="user-img padding-right-15">
          <!-- <img src="assets/images/user-icon.png" height="30" width="30" alt="user"> -->
        </div>
        <div class="user-options">
          <a href="#" class="user-name">
            Hi, {{ firstName }} {{  lastName }} !
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main class="container-fluid">
    <!-- <ng-select [items]="cars"
           bindLabel="name"
           bindValue="id"
           [(ngModel)]="selectedCar">
    </ng-select> -->
    
    <ul class="nav nav-tabs tabs-main-module" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="forecast"
           role="tab" aria-controls="forecast" aria-selected="false"
           href="/forecast">Forecast</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="optimization"
           role="tab" aria-controls="optimization" aria-selected="false"
           href="/optimization">Optimization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           data-toggle="tab" routerLink="poolcode"
           role="tab" aria-controls="poolCode" aria-selected="false"
           href="/poolcodes">Pool Codes</a>
      </li>
    </ul>
    <div class="notification-alert">
    </div>

    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>
      Footer
    </p>
  </footer>
</div>
