<div class="wrapper">
  <header>
    <nav class="navbar navbar-light-gray container-fluid container-padding">
			<span class="logo">
				<!-- <img src="assets/images/american-airline-logo.svg" alt="American Airline Logo" width="272" height="30"> -->
			</span>
      <div class="user-profile">
        <div class="user-img padding-right-15">
          <!-- <img src="assets/images/user-icon.png" height="30" width="30" alt="user"> -->
        </div>
        <div class="user-options">
          <a href="#" class="user-name">
            Hi, {{ firstName }} {{  lastName }} !
          </a>
        </div>
      </div>
    </nav>
  </header>

  <main class="container-fluid">
    <!-- <ng-select [items]="cars"
           bindLabel="name"
           bindValue="id"
           [(ngModel)]="selectedCar">
    </ng-select> -->
    <app-control-panel></app-control-panel>
    <ul class="nav nav-tabs tabs-main-module" role="tablist">
      <!-- <li class="nav-item">
        <a class="nav-link"  [ngClass]="{'active': isForecast}" data-toggle="tab" routerLink="forecast"
           role="tab" aria-controls="forecast" aria-selected="false"
           (click)='clickOnTab("Forecast")'>Forecast</a>
      </li>
      <li class="nav-item"  *ngIf="showOptimization">
        <a class="nav-link" [ngClass]="{'active': isOptimization}" data-toggle="tab" routerLink="optimization"
           role="tab" aria-controls="optimization" aria-selected="false"
           (click)='clickOnTab("Optimization")'>Optimization</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link"
           data-toggle="tab" routerLink="poolcode"
           role="tab" aria-controls="poolCode" aria-selected="false"
           (click)='clickOnTab("Pool Codes")'>Pool Codes</a>
      </li>
    </ul>
    <div class="notification-alert">
    </div>

    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>
      Footer
    </p>
  </footer>
</div>
