/* You can add global styles to this file, and also import other style files */
.box h3 {
	background-color: #E9EDF2;
	color: #1976D2;
	font-size: 0.8em;
	font-weight: normal;
	margin: 0 0 5px;
	padding: 0 10px;
	text-align: left;
    line-height: 1.8;
    .heading {
        border-radius: 3px 3px 0 0;
        margin: 0;
        overflow: hidden;
        position: relative
    }  
}

.box {
	margin-bottom: 5px
}

.box .row {
	margin: 0
}

.pool-code-content {
	height: 100vh;
	overflow-y: scroll;
}

.box [class^="col"] {
	padding: 0
}

.box-content {
	background-color: #fff;
	border: 1px solid #E9EDF2;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 5px
}

.box-content:after {
	clear: both;
	content: '';
	display: table
}