/* You can add global styles to this file, and also import other style files */
.box h3 {
	background-color: #E9EDF2;
	color: #1976D2;
	font-size: 0.8em;
	font-weight: normal;
	margin: 0 0 5px;
	padding: 0 10px;
	text-align: left;
    line-height: 1.8;
    .heading {
        border-radius: 3px 3px 0 0;
        margin: 0;
        overflow: hidden;
        position: relative
    }
}

.box {
	margin-bottom: 5px
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 175px;
  height: 175px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#forecast-left {
  width: 16%;
  padding-right: 0;
  //margin-top: 5px;
}

.modules-section {
  border: 1px solid #E9EDF2;
  background-color: #F7F9FB;
  margin-top: 0;
  overflow: hidden;
  padding: 5px 5px 0;
  min-height: 85vh;
}

.box .row {
	margin: 0
}

.pool-code-content {
	height: 100vh;
	overflow-y: scroll;
}

.box [class^="col"] {
	padding: 0
}

.box-content {
	background-color: #fff;
	border: 1px solid #E9EDF2;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 5px
}

.box-content:after {
	clear: both;
	content: '';
	display: table
}

//.box .button-h1,
//.box .button-h1:focus {
//  background-color: #E6001F;
//  color: #fff;
//  border: 0;
//  font-size: 0.82rem;
//  /*margin: 5px 5px 0.3rem;
//  padding: 2px 0;*/
//  outline: 0;
//  text-transform: capitalize;
//}
//
//.box .button-h2,
//.box .button-h2:focus {
//  background-color: #FD7E14;
//  border: 0;
//  font-size: 0.82rem;
//  /*margin: 5px 5px 0.3rem;
//  padding: 2px 0;*/
//  outline: 0;
//  text-transform: capitalize;
//  color: #000000;
//}
//
//.box .button-h3,
//.box .button-h3:focus {
//  background-color: #FFFF00;
//  border: 0;
//  font-size: 0.82rem;
//  /*margin: 5px 5px 0.3rem;
//  padding: 2px 0;*/
//  outline: 0;
//  text-transform: capitalize;
//  color: #000000;
//}
//
//.box .button-hl,
//.box .button-hl:focus {
//  background-color: #4DB059;
//  color: #fff;
//  border: 0;
//  font-size: 0.82rem;
//  /*margin: 5px 5px 0.3rem;
//  padding: 2px 0;*/
//  outline: 0;
//  text-transform: capitalize;
//}
//
//.box .button-h,
//.box .button-h:focus {
//  background-color: #3524bc;
//  color: #fff;
//  border: 0;
//  font-size: 0.82rem;
//  /*margin: 5px 5px 0.3rem;
//  padding: 2px 0;*/
//  outline: 0;
//  text-transform: capitalize;
//}
//
//.box .button-hx
//.box .button-hx:focus {
//  background-color: #0078d2;
//  color: #fff;
//  border: 0;
//  font-size: 0.82rem;
//  /*margin: 5px 5px 0.3rem;
//  padding: 2px 0;*/
//  outline: 0;
//  text-transform: capitalize;
//}
//
//.box .button-i,
//.box .button-i:focus {
//  background-color: #A9A9A9;
//  border: 0;
//  font-size: 0.82rem;
//  /*margin: 5px 5px 0.3rem;
//  padding: 2px 0;*/
//  outline: 0;
//  text-transform: capitalize;
//  color: #000000;
//}
//
//.box .button-m,
//.box .button-m:focus {
//  background-color: #fff;
//  color: #000000;
//  border: 1px solid #000000;
//  font-size: 0.82rem;
//  /*margin: 5px 5px 0.3rem;
//  padding: 2px 0;*/
//  outline: 0;
//  text-transform: capitalize;
//}

.button-h1
{
  background-color: #0078D2;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
}

.button-h1Selected
{
  background-color: #00467F;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: underline;
}

.button-h2,
.button-h2:focus {
  background-color: #3E76CE;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
}

.button-h2Selected
{
  background-color: #035BE5;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: underline;
}

.button-h3,
.button-h3:focus {
  background-color: #91CFFD;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
}

.button-h3Selected
{
  background-color: #47B0FE;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: underline;
}

.button-hl,
.button-hl:focus {
  background-color: #ED454B;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
}

.button-hlSelected
{
  background-color: #E22B31;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: underline;
}

.button-h,
.button-h:focus {
  background-color: #008712;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
}

.button-hSelected
{
  background-color: #02530C;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: underline;
}

.button-hx,
.button-hx:focus {
  background-color: #0078d2;
  border: 0;
  color: #FFF;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
}

.button-i,
.button-i:focus {
  background-color: #BFBFBF;
  border: 0;
  color: #000;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
}

.button-iSelected
{
  background-color: #737373;
  border: 0;
  color: #000;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: underline;
}

.button-m
.button-i:focus{
  background-color: #fff;
  border: 1px solid #000000;
  color: #000000;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
}

.button-mSelected
{
  background-color: #fff;
  border: 1px solid #000000;
  color: #000000;
  font-size: 0.82rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: underline;
}

