.pc-days {
    background: lightgray;
    border: 2px solid rgba(42, 42, 43, 0.31);
    font-size: 10px;
    width: auto;
    text-align: center;
    font-weight: 500;
}
// .pool-code-content{
//     overflow-x: auto;
//     white-space: nowrap;
// }
.dates-grid {
    margin-left: 1px;
    margin-right: 1px;
}
.pc-dates {
    border: solid 0.25px;
    cursor: pointer;
    width: auto;
    font-size: 10px;
    font-weight: 700;
    span {
        padding: 2px, 2px, 2px, 2px;
    }
}
.pc-dates input {
    width: 50px;
    text-align: center;
}
.month-range{
    padding: 2px, 2px;
    margin-bottom: 5px;
}
.month-range span{
    display: table;
    margin: 0 auto;
    color: lightslategray;
}