<div class="box pool-code-content">
    <div class="row">
        <div class="col" *ngFor="let cabin of cabins">
            <h3 type="button" class="heading" data-toggle="collapse" aria-expanded="true" data-target="#poolCodeGrid">
                {{cabin.cabinName}}
            </h3>
            <div class="collapse show" id="poolCodeGrid">
                <div class="container">
                    <div class="row">
                        <div class="col pc-days">MON</div>
                        <div class="col pc-days">TUE</div>
                        <div class="col pc-days">WED</div>
                        <div class="col pc-days">THU</div>
                        <div class="col pc-days">FRI</div>
                        <div class="col pc-days">SAT</div>
                        <div class="col pc-days">SUN</div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
  </div>
